# general

# credentials
credentials.json
token.json

# environment artifacts
.venv
.env
venv/
voice
voice_env
venv.bak/
.vscode/
.DS_Store
Pipfile
Pipfile.lock

# python artifacts
__pycache__
*.egg-info
dist/
.mypy_cache/
.pytest_cache/

# build
build/
poetry.lock